@model IEnumerable<DetailingStudio_v2.Models.Affiliate>
@using DetailingStudio_v2.Enums;


@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StreetAdress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr itemscope itemtype="https://schema.org/Organization">
                    <td itemprop="addressLocality">
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td itemprop="telephone">
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td itemprop="streetAddress">
                        @Html.DisplayFor(modelItem => item.StreetAdress)
                    </td>
                    <td itemprop="email">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                    @if (User.IsInRole(nameof(UserRoleEnum.Administrator)) || User.IsInRole(nameof(UserRoleEnum.Employee)))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>