@model DetailingStudio_v2.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderPaymentStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderPaymentStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetails)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarBodyType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarBodyType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderStartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderEndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderEndTime)
        </dd>
    </dl>
        <h4>Services</h4>
        <dl>
        @foreach (var service in Model.Services)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(m => service.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(m => service.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(m => service.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(m => service.Price) &euro;
            </dd>
        }
        </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
